* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  background-color: #2e2c2c;

}